<section class="wrapper">
	<div class="row">
		<div class="col-md-12">
			<div id="carouselIndicators" class="carousel slide carousel-wrapper" data-ride="carousel">
				<div class="carousel-inner">
					<div *ngFor="let product of mostSoldProducts; let i = index" class="carousel-item"
						[ngClass]="{'active': i === 1}">
						<div>
								<img class="d-block" (click)="goToDetails(product.id)" src="{{'../../../assets/img/products/' + product.imageUrl}}">
								<span>{{product.name}}</span>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselIndicators"  role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Mais vendidos</h2>
		</div>
		<div class="col-md-12">
			<div class="row">
				<a href="javascript:void(0)" class="page-change right" (click)="nextMostSoldItems()"><i class="fas fa-caret-right"></i></a>
				<a href="javascript:void(0)" class="page-change left" (click)="previousMostSoldItems()"><i class="fas fa-caret-left"></i></a>
				<div *ngFor="let product of mostSoldProductsAux" class="col-md-3 text-center">
					<app-product-grid-item  [product]="product"></app-product-grid-item>
				</div>
			</div>
		</div>
	</div>
</section>