.relative-wrapper {
    position: relative;
}

.btn-float-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-float-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}