<!-- <section class="content-header">
  <h1>
    Todos os Produtos
  </h1>
</section>


<section class="content">

  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let product of products">
      <div class="card">
        <img class="card-img-top" [src]="product.imageUrl" style="width: 200px; height: 200px ">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-footer">{{ product.price | currency:'BRL': true }}</p>
        </div>

      </div>
    </div>
  </div>

</section>

-->

<section class="content-header">
    <h1>
      Todos os produtos
    </h1>
  </section>


  <section class="content">

    <div class="row">
      <div class="col-sm-12 col-xs-12" *ngFor="let product of products" >
        <app-product [product]="product"></app-product>

      </div>
    </div>

  </section>
