.product-img {
    width: 500px;
    height: 500px;
}

.details > span {
    display: block;
}

.details > .name {
    font-size: 36px;
}

.details > .price {
    font-size: 56px;
    font-weight: 600;
    color: #2c81ca;
}

.payment, .details {
    margin-bottom: 10px;
}

.payment > span {
    display: block;
}

.payment .price-divided {
    display: block;
    font-size: 18px;
}

.payment > .free-shipping {
    color: #5c5c5c
}

.buy > button {
    margin-right: 5px;
}