.item-wrapper {
    display: inline-block;
    margin: 10px 30px;
    width: 200px;
    text-align: center;
}

.item-wrapper > img {
    cursor: pointer;
}

.item-wrapper > .buy > span {
    display: block;
} 

.item-wrapper > .buy > .price {
    font-weight: bold;
    color: #2c81ca;
} 
.item-wrapper > .buy > .cart {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    cursor: pointer;

}

.name {
    width: 200px;
    display: block;
}